.card {
  position: relative;
  .card-title{
    font-weight: 500;
    font-size: 18px;
  }
  .card-description{
    color: rgb(70, 70, 70);
    margin-bottom: 8px;
    font-size: 14px;
  }
  .fav-btn {
    position: absolute;
    right: 16px;
    top: 16px;
    border-radius: 50%;
  }
}
