<div class="toolbar">
  <button mat-icon-button (click)="goBack()" aria-label="Go Back">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h2>Post Details</h2><span class="fw-none" style="color: green;font-weight: 500;">{{(postDetails$ | async)?.[0]?.featured ? '( Featured Post )' : ''}}</span>
</div>
@if (isLoading$ | async) {
<p>Loading Data...</p>
}
<mat-card
  *ngIf="(postDetails$ | async)?.[0] as postDetails"
  class="post-details-card"
>
  <mat-card-content>
    <!-- Title and Property Type -->
    <div class="section">
      <h3>{{ postDetails?.title }}</h3>
      <p class="property-type">
        <strong>Property Type:</strong> {{ postDetails?.apartmentType }}
      </p>
    </div>

    <!-- Description -->
    <div class="section">
      <p>{{ postDetails?.description }}</p>
    </div>

    <!-- Basic Info -->
    <div class="section info-grid">
      <div><strong>Location:</strong> {{ postDetails.location }}</div>
      <div><strong>Owner:</strong> {{ postDetails.name }}</div>
      <div><strong>Area:</strong> {{ postDetails.squareFit }} sq ft</div>
      <div>
        <strong>Stay Type:</strong> {{ postDetails.stayType | titlecase }}
      </div>
      <div>
        <strong>Rent:</strong> {{ postDetails.rent | currency : "INR" }}
      </div>
      <div>
        <strong>Rent Negotiable:</strong>
        {{ postDetails.rentNegotiable ? "Yes" : "No" }}
      </div>
      <div>
        <strong>Price Mode:</strong> {{ postDetails.priceMode | titlecase }}
      </div>
      <div>
        <strong>Furnished:</strong>
        {{ postDetails.apartmentFurnished ? "Yes" : "No" }}
      </div>
      <div>
        <strong>Shared Property:</strong>
        {{ postDetails.sharedProperty ? "Yes" : "No" }}
      </div>
    </div>

    <mat-divider class="my-4"></mat-divider>

    <!-- Amenities -->
    <div class="section">
      <h3>Amenities</h3>
      <div class="amenities-grid">
        @for (name of postDetails.amenities; track $index) {
        <div class="amenity-item">
          <mat-icon color="primary">check_circle</mat-icon>
          <span>{{ name }}</span>
        </div>
        }
      </div>
    </div>

    <mat-divider class="my-4"></mat-divider>

    <!-- Gallery -->
    <div class="section">
      <h3>Gallery</h3>
      <div class="gallery-grid">
        @for (image of postDetails.images; track $index) {
        <img [src]="image" alt="Property image" loading="lazy" />
        }
      </div>
    </div>
  </mat-card-content>
</mat-card>

<app-comments
  [comments]="(postComments$ | async) ?? []"
  (postComment)="postComment($event)"
  [isLoading]="(commentIsLoading$ | async) ?? false"
></app-comments>
