<mat-card class="upload-card">
  <mat-card-title>Upload Images</mat-card-title>
  <mat-card-content>
    <input
      type="file"
      #fileInput
      (change)="onFileSelected($event)"
      accept=".jpg,.jpeg"
      multiple
      hidden
    />
    <button mat-raised-button color="primary" (click)="fileInput.click()">
      Select Images
    </button>
    @if (previewUrls.length > 0) {

    <div class="preview-container">
      @for (url of previewUrls; track $index) {

      <div class="image-preview">
        <img [src]="url" alt="Preview" />
      </div>
      }

      <button
        mat-raised-button
        color="accent"
        (click)="uploadImages()"
        [disabled]="!selectedFiles.length"
      >
        Upload
      </button>
    </div>
    }
  </mat-card-content>
</mat-card>
